.edit-container {
  height: 100vh;
  width: 98vw;
  overflow: hidden;
  background-color: #f5f5f5;
}

.post-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.post-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
